<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	<!-- DTO 별칭 설정 -->
		<typeAlias type="icia.TblOrders.dto.MenuDTO" alias="menu" />
	</typeAliases>

	<mappers>
		<!-- 매퍼 설정 -->
		<mapper resource="mapper/MenuMapper.xml" />
		<mapper resource="mapper/OrderMapper.xml" />
		<mapper resource="mapper/AdminMapper.xml" />
	</mappers>

</configuration>